<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder  location = "classpath:musicPlayer.properties"/>

    <bean id="ThisIsRock"
          class="org.example.beans.xml.MusicSingleton.RockMusic">
    </bean>

    <bean id="ThisIsClassic"
          class="org.example.beans.xml.MusicSingleton.ClassicalMusic">
    </bean>

    <bean id="ThisIsPop"
          class="org.example.beans.xml.MusicSingleton.PopMusic">
    </bean>

    <bean id = "MusicPlayer"
        class = "org.example.beans.xml.MusicSingleton.MusicPlayer">
        <property name = "name" value = "${MusicPlayer.name}"/>
        <property name = "volume" value = "${MusicPlayer.volume}"/>
        <property name = "musicList">
            <list>
                <ref bean="ThisIsRock"/>
                <ref bean="ThisIsClassic"/>
                <ref bean="ThisIsPop"/>
            </list>
        </property>
    </bean>

</beans>